:root {
  --amarillo: #daa800;
  --gris: #2d2d2b;
  --blanco: #ffffff;
  --backgorund: #E1E3E5;
}

body {
  background-color: var(--blanco);
  color: var(--gris);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

#preloader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: black;
  margin: 0;
  padding: 0;
}

#preloader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: .6;
}

#preloader img#logo {
  height: auto;
  width: 43%;
  filter: invert(1) brightness(2);
  margin: 0 auto;
  display: block;
  opacity: 1;

}

#preloader footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 11;

}

#preloader button#flecha-btn {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: transparent;
  margin-top: 1em;
  height: auto;
}

#preloader svg {
  transition: all 0.3s ease;
  fill: #daa800;
  stroke:none;
}

#preloader button#flecha-btn:hover svg {
  fill: #222221;
  stroke: white;
}

#logo-section {
  width: 40%;
}

#about
{
  background-color: #E1E3E5;
  width: 100%;
}

#testimonios {
  background-color: #E1E3E5;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

#testimonios video {
  width: 70%;          
  max-width: 900px;   
  border-radius: 10px; 
  object-fit: cover;
}

#main-footer,
#main-footer h3,
#main-footer a,
#main-footer .button {
    font-family: 'Embotellados Regular', sans-serif !important;
    font-weight: 100;
    letter-spacing: 0.5px;
}

#elcuerpo-texto {
  background-color: #ffffff;
  color: #2d2d2b;
  padding: 100px 0;
}

#elcuerpo-texto .elcuerpo-titulo {
  font-family: 'Embotellados Ancha', sans-serif;
  font-size: 3.2rem;
  line-height: 0.9;
  margin-bottom: 2rem;
  text-transform: uppercase;   
  letter-spacing: 0px;         
}

#elcuerpo-texto p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

#elcuerpo-texto .elcuerpo-col2 {
  margin-top: 3.5rem;
}

/* Responsive */
@media (max-width: 768px) {
  #elcuerpo-texto .elcuerpo-titulo {
    font-size: 2.4rem;
    letter-spacing: 0.5px;
  }
  #elcuerpo-texto .elcuerpo-col2 {
    margin-top: 2rem;
  }
}
#testimonios {
  width: 100%;
  padding: 80px 0;         
  background-color: #E1E3E5; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#testimonios video {
  width: 85%;
  max-width: 1100px;
  height: 520px;
  object-fit: cover;
  border-radius: 18px;       
  background: #000000;       
  display: block;
}
#testimonios + img {
  margin-top: 80px;         
}
