:root {
  --amarillo: #e3b61b;
  --gris: #2d2d2b;
  --blanco: #ffffff;
  --backgorund: #E1E3E5;

}

body {
  background-color: var(--blanco);
  color: var(--gris);
  font-family: "Inter", sans-serif;
}

#preloader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#preloader img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#preloader img#logo{
  position: absolute;
  bottom: 161px;
  height: auto;
  object-fit: contain;
  width: 43%;
  filter: invert(1);
  left: 50%;
  transform: translateX(-50%);
}

#preloader button#flecha-btn{
position: absolute;
    bottom: 8%;
    height: auto;
    object-fit: contain;
    width: 100px;
    left: 50%;
    transform: translateX(-50%); 
  }
  #preloader svg {
  transition: all 0.3s ease;
  fill: #e3b61b;
  stroke: #222221;
}

#preloader button#flecha-btn:hover svg {
  fill: #222221;
  stroke: white;
}