:root {
  --amarillo: #e3b61b;
  --gris: #2d2d2b;
  --blanco: #ffffff;
  --backgorund: #E1E3E5;

}

body {
  background-color: var(--blanco);
  color: var(--gris);
  font-family: "Inter", sans-serif;
}

#preloader {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: black;

}

#preloader img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .6;

}

#preloader img#logo{
    height: auto;
    width: 43%;
    filter: invert(1) brightness(2);
    margin: 0 auto;
    display: block;
    opacity: 1;

}

#preloader footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 11;

}
#preloader button#flecha-btn {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: transparent;
  margin-top: 1em;
  height: auto;
}

#preloader svg {
  transition: all 0.3s ease;
  fill: #e3b61b;
  stroke: #222221;
}

#preloader button#flecha-btn:hover svg {
  fill: #222221;
  stroke: white;
}

#logo-section {
  width: 40%;
}