:root {
    --scroll-background: rgb(255, 255, 255);
    --scroll-foreground: rgb(0, 0, 0);
    --scroll-background-over: #daa800;
    --scroll-size: 20px;
}

::-webkit-scrollbar {
    background-color: var(--scroll-background);
    height: var(--scroll-size);
    width: var(--scroll-size);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-foreground);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-background-over);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}